/* Cores{

} */

/* body{
    margin:0;
    padding:0;
    font-family: Verdana;
    background: #1d1b25;
} */

/* ______________HEADER______________ */
/* header{
    background: #2b2450;
    display: flex;
    align-items: center;
} */

/* ______________FOOTER______________ */
/* footer{
    background: #2b2450;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color:#4bbcba;
} */

/* ______________MAIN/ home______________ */

/* .Introduction{
    background: #35576d;
    text-align: center;
    padding:80px;
    height: 45vh;
    width: inherit;
    width: initial;
    width: unset;
} */

/* ______________MAIN inscricão______________ */

/* .Inscricao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ProductBoxContainer{
    width: 80vw;
    background-color: #eee;
    border-radius: 20px;
    margin:20px;
    padding:20px
}
.ProductBoxContainer h2{
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}
.ProductBoxElements{
    display: flex;
    justify-content: space-between;
}
.ProductBoxElements p img{
    width: 100%;
    margin-right:10px;
    border-radius: 10px;
}
.ProductBoxElements div{
    width: 70%;
    padding-left:20px;
}
.SubscribeContainer{
    display: flex;
    height:300px;
    width: 80vw;
    padding:20px;
    justify-content: space-between;
}
.SubscribeEntrieBox{
    background-color: #eee;
    border-radius: 20px;
    margin:15px;
    padding:20px;
    width: 100%;
}
.SubscribeEntrieBox form{
    display:flex;
    flex-direction: column;
}
.SubscribeEntrieBox button{
    border: none;
    padding: 5px;
    background-color: #ff7b00;
}
form .FormElement{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form .FormElement label{
    text-transform: uppercase;
}
form .FormElement input{
    margin-left: 10px;
    padding:2px;
    flex-grow: 1;
    color:#42396e;
} */
